core.ignorecase=false
*.js    eol=lf
*.jsx   eol=lf
*.json  eol=lf
*.vue   eol=lf
*.ts    eol=lf
*.tsx   eol=lf
*.css   eol=lf
*.scss  eol=lf
*.less  eol=lf
*.styl  eol=lf
*.md    eol=lf
*.mdx   eol=lf
*.html  eol=lf
*.htm   eol=lf
*.txt   eol=lf
